<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Proton_InfCutoffValue" value="0.5"/>
    <add key="Proton_ExportFullInfMatrix" value="1"/>
    <add key="Proton_OutputRootFolder" value="D:\Projects\Git\MAAS-ProtonInfluenceMatrixCalc\MAAS-DoseInfluenceMatrix\Results"/>
    <add key="Photon_OutputRootFolder" value="c:\outputfolder"/>
    <add key="Photon_InfCutoffValue" value="0.5"/>
    <add key="Photon_BeamletSizeX" value="2.5"/>
    <add key="Photon_BeamletSizeY" value="2.5"/>
    <add key="Photon_EclipseVolumeDoseCalcModel" value="AAA_1610"/>
    <add key="Photon_CalculationGridSizeInCM" value="0.4"/>
    <add key="Photon_NumBeamletsToBeCalcAtATime" value="5"/>
    <add key="Photon_ExportFullInfMatrix" value="1"/>
    <add key="Photon_MaxDoseCalcRetry" value="4"/>
    <add key="Photon_DoseScalingFactor" value="0.056"/>
    <add key="EULAAgree" value="true"/>
    <add key="Validation" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
