<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Proton_InfCutoffValue" value="0.5" />
    <add key="Proton_ExportFullInfMatrix" value="1" />
    <add key="Proton_OutputRootFolder" value="D:\Projects\Git\MAAS-ProtonInfluenceMatrixCalc\MAAS-DoseInfluenceMatrix\Results" />

    <add key="Photon_OutputRootFolder" value="c:\outputfolder" />
    <add key="Photon_InfCutoffValue" value="0.5" />
    <add key="Photon_BeamletSizeX" value="2.5" />
    <add key="Photon_BeamletSizeY" value="2.5" />
    <add key="Photon_EclipseVolumeDoseCalcModel" value="AAA_1610" />
    <add key="Photon_CalculationGridSizeInCM" value="0.4" />
    <add key="Photon_NumBeamletsToBeCalcAtATime" value="5" />
    <add key="Photon_ExportFullInfMatrix" value="1" />
    <add key="Photon_MaxDoseCalcRetry" value="4" />
    <add key="Photon_DoseScalingFactor" value="0.056" />
    
	  <add key="EULAAgree" value="true" />
	  <add key="Validation" value="true" />
  </appSettings>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
